@import '../../../utils'

.SessionRestore
  background-color: var(--frame-bg)

.SessionRestore .popup
  box-shadow: none
  background-color: transparent

.SessionRestore .msg
  position: relative
  font-size: rem(14)
  padding: 0 8px
  color: var(--popup-fg)
  opacity: .7
  text-align: center

.SessionRestore .loading-dots
  position: relative
  margin: 8px 0 16px
